/* styles.css */

/* Háttér mintázat */
.background-pattern {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: radial-gradient(circle, #e6e6e6 1px, transparent 1px);
    background-size: 20px 20px;
    z-index: -1;
}

/* Alapstílus */
body {
    font-family: "Arial", sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Fejléc */
.header {
    text-align: center;
    background-color: #0056b3;
    color: white;
    padding: 20px;
    border-radius: 8px;
}

.header h1 {
    margin: 0;
}

/* Bevezető */
.introduction p {
    font-size: 16px;
}

.images {
    display: flex;
    justify-content: space-around;
}

.images img {
    width: calc(50% - 10px);
    border-radius: 4px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, .2);
}

/* Példa */
.example-header {
    background-color: #0056b3;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.example p {
    font-size: 16px;
}

/* Definíció */
.definition-header {
    background-color: #ff6600;
    color: white;
    padding: 10px;
    border-radius: 4px;
}

.definition-box {
    background-color: #fff8e5;
    border-left: solid #ff6600;
    padding: 10px;
}

.definition-box p,
.definition-box ul {
    font-size: 16px;
}
